#ifdef CONFIG_PRODUCT_REALME_RMX1801
#//John.Xu@PhoneSw.AudioDriver, 2016/02/22, Add for critical_log
config OPPO_CRITICALLOG
bool "config oppo critical log"
help
    define this config to init oppo critical log driver.
#endif /* CONFIG_PRODUCT_REALME_RMX1801 */